<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>464787740173-dkbcl9ap4vl06ctrkjass3qqgaqfvnn1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.464787740173-dkbcl9ap4vl06ctrkjass3qqgaqfvnn1</string>
	<key>API_KEY</key>
	<string>AIzaSyD2ySISzYj8SUT9mYiZMt4FV_GhUYqwcrY</string>
	<key>GCM_SENDER_ID</key>
	<string>464787740173</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whatsappClone</string>
	<key>PROJECT_ID</key>
	<string>whatsapp-clone-492c5</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsapp-clone-492c5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:464787740173:ios:5aa16713cf9ef6cfea2744</string>
</dict>
</plist>